.footer_text {
    font-size: 90%;
    margin: 0%;
    text-align: left;
    white-space: nowrap;
}

#link {
    min-height: 100%;
}

body {
    background: #151517;
    margin: 0;
    color: white;
    font-family: 'Manrope', sans-serif;
    text-align: center;
}

.title {
    font-family: 'Inter', sans-serif;
}

.description {
    margin-bottom: 1%;
}

#github_link {
    text-decoration: underline;
    color: #3867ff;
}

input {
    padding: 3.5%;
    width: 260px;
    border-radius: 12px;
    border: none;
    background-color: #1E1E20;
    margin-bottom: 1%;
    color: gray;
}

#city {
    padding: 0.9%;
    width: 16%;
    border-radius: 12px;
    border: none;
    background-color: #1E1E20;
    margin-bottom: 1%;
    color: gray;
}

select {
    padding: 0.9%;
    width: 18%;
    border-radius: 12px;
    border: none;
    background-color: #1E1E20;
    color: gray;
    margin-bottom: 1%;
}

button {
    padding: 8%;
    border-radius: 12px;
    border: none;
    background-color: #1E1E20;
    color: white;
    margin-left: 2%;
    cursor: pointer;
    white-space: nowrap;
    margin-bottom: 5%;
}

#main {
    display: flex;
    flex-direction: column;
    align-items: center;
}


#buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

#weatherImage {
    margin-bottom: 1%;
    max-width: 90%;
}

#url {
    padding: 1%;

}

h3 {
    margin: 0%;
    margin-bottom: 1%;
}

.container {
    border: 1px solid #333;
    width: 16%;
    border-radius: 10px;
    margin-bottom: 1%;
    padding: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inContainer {
    width: 80%;
    padding: 3%;
    margin-bottom: 2%;
}

#container_theme_city {
    display: none;
}

/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
    visibility: hidden;
    /* Hidden by default. Visible on click */
    min-width: 250px;
    /* Set a default minimum width */
    margin-left: -125px;
    /* Divide value of min-width by 2 */
    background-color: #333;
    /* Black background color */
    color: #fff;
    /* White text color */
    text-align: center;
    /* Centered text */
    border-radius: 2px;
    /* Rounded borders */
    padding: 16px;
    /* Padding */
    position: fixed;
    /* Sit on top of the screen */
    z-index: 1;
    /* Add a z-index if needed */
    left: 49%;
    /* Center the snackbar */
    bottom: 30px;
    /* 30px from the bottom */
    border-radius: 15px;
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
    visibility: visible;
    /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}


@media(max-width: 425px) {

    .title {
        font-size: 100%;
    }

    .description {
        margin-left: 2%;
        margin-right: 2%;
        margin-bottom: 3%;
    }

    #weatherImage {
        margin-bottom: 2%;
    }

    #timezone {
        width: 80%;
        padding: 3%;
        margin-bottom: 3%;
    }

    #language {
        width: 80%;
        padding: 3%;
        margin-bottom: 3%;
    }

    #city {
        width: 74%;
        padding: 3%;
        margin-bottom: 3%;
    }

    .footer_text {
        font-size: 70%;
        margin-left: 5%;
    }

    #down {
        margin-bottom: 5%;
    }

    #url {
        padding: 4%;
    }

    .container {
        width: 80%;
    }
}